*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assests/images/weather.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  color: white; 
  }

  @media (max-Width:420px){
    body {
      color: white;
    }
  }