.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_row1 {    
    margin-left: 5px;
    margin-right: 5px; 
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
}

.home_row2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 5px;
    margin-right: 5px;
}

.home_row3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5px;
    margin-right: 5px;
}

.home_image {
    width: 100%;
    object-fit: contain;
    z-index: -1;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0) 
        );      
     margin-bottom: -300px;  /* so that the product card can come above */
    
}

@media screen and (max-width:420px) {
    .home_row1 {
        grid-template-columns: 1fr;
    }
    .home_row2 {
        grid-template-columns: 1fr;
    }
    .home_row3 {
        grid-template-columns: 1fr;
    }
}