.row {
    margin-left: 20px;
    color: white;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px; /*so that img not crop when hover */
}

.row_posters::-webkit-scrollbar {   /* to tell all the browser that not to show scrollbar*/
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%; /*  it takes 100% width of screen size  */
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.09);
}